# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
python-model/saved_model_arbitrary_style_transfer/*
python-model/arbitrary_style_transfer.tflite

# Xcode specific
.DS_Store
build/
DerivedData/
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock
# 如果你希望团队使用相同版本的 Pods，可以将 Podfile.lock 注释掉

# Xcode Project Files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/.*

# Xcode Workspace Files
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/.*

# Swift Package Manager
/.build/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Carthage
Carthage/Build

# Accio dependency management
Dependencies/
.accio/

# MacOS specific
Icon?
Icon\r
*.swp
*.swo
arbitary-style-transfer/arbitary-style-transfer/Resources/arbitrary_style_transfer.tflite
